#container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100vw;
  border: 1px solid black;
}

#headerContainer {
  display: flex;
  background-color: aqua;
  width: 100vw;
  justify-content: space-between;
  border: 1px solid black;
}

.headerlabel {
  width: 200px;
  text-align: center;
}

#addContactImg {
  height: 40px;
  width: 40px;
}

#contactContainer {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  margin-left: 10px;
}

#contactContainer:hover {
  cursor: pointer;
}