#cardContainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100vw;
  margin: 0px;
  border-top: 1px solid black;
}

#cardHeaderContainer {
  display: flex;
  width: 100vw;
  align-self: flex-start;
  background-color: white;
  justify-content: space-between;
  margin: 0px;
  padding: 5px;
 
}

.infoCardLabel {
  width: 200px;
  text-align: center;
}

.contactOptions {
  height: 30px;
  width: 30px;
}

.contactOptions:hover
{
  cursor: pointer;
}
